main {
    width: 900px;
    height: 140px;
}

img.left-align {
    border-right: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    float: left;
    margin-right: 19px;
    padding-right: 19px;
    margin-bottom: 19px;
    padding-bottom: 19px;
}

img.right-align {
    border-top: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    float: right;
    margin-top: 19px;
    padding-top: 19px;
    margin-left: 19px;
    padding-left: 19px;
    margin-bottom: 19px;
    padding-bottom: 19px;
}

p {
    font-size: 20px;
    line-height: 30px;
    color: #2e2e2e;
    text-align: justify;
}