body {
    padding: 5px 15px;
    background-color: #e4e978;
    width: 700px;
}

article {
    padding: 5px 15px;
    margin: 15px 10px;
    border: 1px solid #b2ad7d;
    background-color: #f2f4c0;
}

section article {
    font-style: italic;
    color: #5c6e91;
}

section article h1 {
    font-size: 1.5em;
}

section article h2 {
    font-size: 1.2em;
}