@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.card {
    max-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5em;
    overflow: hidden;
    border: 2px solid rgb(0, 0, 0, 0.8);
    box-shadow: 0 0 0.5em 0.2em;
}

.viewport {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.viewport:nth-child(1) {
    background-image: 
    linear-gradient(
      270deg in oklab, 
      oklch(70% 0.29 179) 28% 28%, oklch(62% 0.29 242) 99% 99%
    );
}

.viewport:nth-child(2) {
    background-image: 
    linear-gradient(
      90deg in oklab, 
      oklch(46% 0.36 334) 28% 28%, oklch(72% .5 100) 122% 122%
    );
}

.card::before {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: 0 0 5em 0.5em rgb(0, 0, 0, 0.7) inset;
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.card:hover::before {
    opacity: 0;
}


.card svg {
    display: block;
    fill: azure;
    width: 2em;
    position: absolute;
    bottom: 1em;
    right: 1em;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease-in;  
}

.card:hover svg {
    opacity: 1;
}

svg:hover {
    fill: lightgreen;
    transition: fill 0.3s ease-in;  
}